<div class="container mt-2">
  <h2>S3 Presigned URL Upload</h2>

  <ng-container *ngIf="loading; else loaded">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>

  <ng-template #loaded>
    <div class="mb-3">
      <label class="form-label">Bucket</label>
      <input type="text" class="form-control" [(ngModel)]="bucket" />
    </div>

    <div class="mb-3">
      <label class="form-label">Choose a file</label>
      <input class="form-control" type="file" (change)="onFileChange($event)" />
    </div>

    <button class="btn btn-primary" (click)="onFileUpload()">Upload</button>

    <div class="mt-2" *ngIf="uploaded">
      <p>Content Type: {{ fileObj.type }}</p>
      <p>Presigned URL: {{ fileUrl }}</p>
    </div>
  </ng-template>
</div>
